*{
    margin: 0;
}

.nav_side{
    justify-content: space-around;
    align-items: center;
}

.nav_{
    /* padding-top: 50px;
    padding-bottom: 50px;
    margin-right: 100px; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 500px;
}

.nav_ img{
    margin-top: 10px;
    margin-left: -150px;
}

input {
    height: 32px;
    width: 250px;
    padding: 5px 100px 5px 10px;
    margin: 10px 20px 10px 20px;
    margin-right: -350px;
    border: 2px #24315E solid;
    border-radius: 10px;
    font-size: 20px;
}

.sidebar{
    height: 100%;
    width: 300px;
    position: relative;
    top: -80px;
    background-color: black;
    color: white;
    list-style: none;
}

.bar_side{
    padding-top: 50px;
    padding-bottom: 50px;
}

.bar_side .H{
    margin-left: 50px;
    padding-bottom: 50px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 16px;
}